<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="com.jayce.vexis.util.bean.UserBean" alias="user"/>
        <typeAlias type="com.jayce.vexis.util.bean.FileBean" alias="fileBean"/>
        <typeAlias type="com.jayce.vexis.util.bean.FeedbackBean" alias="feedbackBean"/>
        <typeAlias type="com.jayce.vexis.util.bean.ActiveBean" alias="activeData"/>
        <typeAlias type="com.jayce.vexis.util.bean.ArticleBean" alias="articleBean"/>
        <typeAlias type="com.jayce.vexis.util.bean.SectionBean" alias="sectionBean"/>
        <typeAlias type="com.jayce.vexis.util.bean.RemarkBean" alias="remarkBean"/>
        <typeAlias type="com.jayce.vexis.util.bean.PeerAdviceBean" alias="peerAdviceBean"/>
        <typeAlias type="com.jayce.vexis.util.bean.HistoryBean" alias="historyBean"/>
    </typeAliases>

    <mappers>
        <mapper resource="Mybatis/Mappers/UserMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ResourceMapper.xml"/>
        <mapper resource="Mybatis/Mappers/FeedbackMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ArticleMapper.xml"/>
        <mapper resource="Mybatis/Mappers/SeniorMapper.xml"/>
        <mapper resource="Mybatis/Mappers/HistoryMapper.xml"/>
    </mappers>
</configuration>