<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jayce.vexis.business.dao.ArticleDao">
    <insert id="saveArticle" parameterType="articleBean"
        useGeneratedKeys="true" keyProperty="articleId">
        insert into article(userId, title, createTime, updateTime, favor)
        values (#{userId}, #{title}, #{createTime}, #{updateTime}, #{favor})
    </insert>
    
    <insert id="saveSection" parameterType="sectionBean">
        insert into section(articleId, orderId, type, content) values (#{articleId}, #{orderId}, #{type}, #{content})
    </insert>

    <select id="getArticle" resultType="articleBean">
        select * from article
    </select>
    
    <select id="getSections" parameterType="Long" resultType="sectionBean">
        select * from section where articleId = #{articleId} order by orderId
    </select>

    <select id="getRemark" parameterType="Long" resultType="remarkBean">
        select * from remark where sectionId = #{sectionId} order by sectionId
    </select>

    <insert id="insertRemark" parameterType="remarkBean">
        insert into remark(sectionId, userId, content, type, favor, createTime)
            values (#{sectionId}, #{userId}, #{content}, ${type}, #{favor}, #{createTime})
    </insert>
    
    <delete id="deleteArticle">
        delete from article where articleId = #{articleId}
    </delete>
</mapper>