<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="ConfigParamters.properties"/>

    <typeAliases>
        <typeAlias type="cn.LJW.Entities.User.User" alias="user"/>
        <typeAlias type="cn.LJW.Entities.Resource.FileBean" alias="fileBean"/>
        <typeAlias type="cn.LJW.Entities.Feedback.FeedbackBean" alias="feedbackBean"/>
        <typeAlias type="cn.LJW.Entities.User.ActiveData" alias="activeData"/>
        <typeAlias type="cn.LJW.Entities.article.ArticleBean" alias="articleBean"/>
        <typeAlias type="cn.LJW.Entities.article.ParagraphBean" alias="paragraphBean"/>
        <typeAlias type="cn.LJW.Entities.article.CommentBean" alias="commentBean"/>
        <typeAlias type="cn.LJW.Entities.senior.SeniorAdvice" alias="seniorBean"/>
        <typeAlias type="cn.LJW.Entities.history.HistoryBean" alias="history"/>
    </typeAliases>

    <environments default="LOCAL">
        <environment id="LOCAL">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${JDBC.driver}"/>
                <property name="url" value="${JDBC.localUrl}"/>
                <property name="username" value="${JDBC.username}"/>
                <property name="password" value="${JDBC.password}"/>
            </dataSource>
        </environment>

        <environment id="CLOUD">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${JDBC.driver}"/>
                <property name="url" value="${JDBC.cloudUrl}"/>
                <property name="username" value="${JDBC.username}"/>
                <property name="password" value="${JDBC.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="Mybatis/Mappers/UserMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ResourceMapper.xml"/>
        <mapper resource="Mybatis/Mappers/FeedbackMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ArticleMapper.xml"/>
        <mapper resource="Mybatis/Mappers/SeniorMapper.xml"/>
        <mapper resource="Mybatis/Mappers/HistoryMapper.xml"/>
    </mappers>
</configuration>