<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties resource="ConfigParamters.properties"/>

    <typeAliases>
        <typeAlias type="com.creezen.commontool.bean.UserBean" alias="user"/>
        <typeAlias type="com.creezen.commontool.bean.FileBean" alias="fileBean"/>
        <typeAlias type="com.creezen.commontool.bean.FeedbackBean" alias="feedbackBean"/>
        <typeAlias type="com.creezen.commontool.bean.ActiveBean" alias="activeData"/>
        <typeAlias type="com.creezen.commontool.bean.ArticleBean" alias="articleBean"/>
        <typeAlias type="com.creezen.commontool.bean.SectionBean" alias="sectionBean"/>
        <typeAlias type="com.creezen.commontool.bean.RemarkBean" alias="remarkBean"/>
        <typeAlias type="com.creezen.commontool.bean.PeerAdviceBean" alias="peerAdviceBean"/>
        <typeAlias type="com.creezen.commontool.bean.HistoryBean" alias="historyBean"/>
    </typeAliases>

    <environments default="LOCAL">
        <environment id="LOCAL">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${JDBC.driver}"/>
                <property name="url" value="${JDBC.localUrl}"/>
                <property name="username" value="${JDBC.username}"/>
                <property name="password" value="${JDBC.password}"/>
            </dataSource>
        </environment>

        <environment id="CLOUD">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${JDBC.driver}"/>
                <property name="url" value="${JDBC.cloudUrl}"/>
                <property name="username" value="${JDBC.username}"/>
                <property name="password" value="${JDBC.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="Mybatis/Mappers/UserMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ResourceMapper.xml"/>
        <mapper resource="Mybatis/Mappers/FeedbackMapper.xml"/>
        <mapper resource="Mybatis/Mappers/ArticleMapper.xml"/>
        <mapper resource="Mybatis/Mappers/SeniorMapper.xml"/>
        <mapper resource="Mybatis/Mappers/HistoryMapper.xml"/>
    </mappers>
</configuration>