h1 {
    text-align: center;
    font-size: 48px;
    color: darkcyan;
}
.file {
    text-align: center;
    background: darkcyan;
}

.upload {
    display: inline-block;
    text-align: left;
    background: aliceblue;
}

.upload label {
    transition: all 0.5s;
}

.upload label:hover {
    color: rebeccapurple;
    opacity: 0;
}